@model IEnumerable<LAB3Northwind.Controllers.Cart>
@using LAB3Northwind.Controllers
@{
    ViewData["Title"] = "View Cart";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="container text-center">
    <h1>View Cart</h1>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price/Unit</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cart cart in Model)
                {
                    <tr>
                        <td>@cart.Product.ProductId</td>
                        <td>@cart.Product.ProductName</td>
                        <td>@cart.Quantity</td>
                        <td>@cart.Product.UnitPrice</td>
                        <td>@cart.TotalPrice()</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Cart is empty</h3>
    }

</div>