@using CourseManagement.Models
@model CourseManagement.Models.Course
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Danh sách nhân viên | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    @Html.Partial("_Head")
</head>

<body onload="time()" class="app sidebar-mini rtl">

    <!-- Sidebar menu-->
    <main class="app-content" style="margin-left:0">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Chi tiết Course <span class="text-danger">@Model.CourseCode</span></b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <a class="btn btn-add btn-sm" href="form-add-san-pham.html" title="Thêm">
                                    <i class="fas fa-plus"></i>
                                    Thêm Course
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)">
                                    <i class="fas fa-trash-alt"></i> Xóa tất cả
                                </a>
                            </div>
                        </div>

                        <form class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label">CourseCode</label>
                                <input class="form-control" type="text" value="@Model.CourseCode">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Subject</label>
                                <input class="form-control" type="text" value="@Model.Subject.SubjectName" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Instructor</label>
                                <input class="form-control" type="text" required value="@Model.Instructor.InstructorFirstName @Model.Instructor.InstructorMidName @Model.Instructor.InstructorLastName">
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Term</label>
                                <input class="form-control" type="text" value="@Model.Term.TermName" required>
                            </div>
                            <div class="form-group  col-md-2">
                                <label class="control-label">Campus</label>
                                <input class="form-control" type="text" value="@Model.Campus.CampusName" required>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Description</label>
                                <textarea class="form-control" rows="3" required>@Model.CourseDescription</textarea>
                            </div>
                        </form>
                        <h4>List of Student in Course</h4>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th width="10"><input type="checkbox" id="all"></th>
                                    <th>StudentId</th>
                                    <th>RollNumber</th>
                                    <th>First Name</th>
                                    <th>Mid Name</th>
                                    <th>Last Name</th>
                                    <th width="120">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (StudentCourse s in Model.StudentCourses)
                                {
                                    <tr>
                                        <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                        <td>@s.StudentId</td>
                                        <td>@s.Student.Roll</td>
                                        <td>@s.Student.FirstName</td>
                                        <td>@s.Student.MidName</td>
                                        <td>@s.Student.LastName</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" href="Course/Detail/" title="Xem chi tiết">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                data-target="#ModalUP">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                                onclick="myFunction(this)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @Html.Partial("_Scripts")
    <script type="text/javascript">
            $('#sampleTable').DataTable();
            //Thời Gian
        function time() {
          var today = new Date();
          var weekday = new Array(7);
          weekday[0] = "Chủ Nhật";
          weekday[1] = "Thứ Hai";
          weekday[2] = "Thứ Ba";
          weekday[3] = "Thứ Tư";
          weekday[4] = "Thứ Năm";
          weekday[5] = "Thứ Sáu";
          weekday[6] = "Thứ Bảy";
          var day = weekday[today.getDay()];
          var dd = today.getDate();
          var mm = today.getMonth() + 1;
          var yyyy = today.getFullYear();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          nowTime = h + " giờ " + m + " phút " + s + " giây";
          if (dd < 10) {
            dd = '0' + dd
          }
          if (mm < 10) {
            mm = '0' + mm
          }
          today = day + ', ' + dd + '/' + mm + '/' + yyyy;
          tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
          document.getElementById("clock").innerHTML = tmp;
          clocktime = setTimeout("time()", "1000", "Javascript");

          function checkTime(i) {
            if (i < 10) {
              i = "0" + i;
            }
            return i;
          }
        }
    </script>
    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
        }
        jQuery(function () {
            jQuery(".trash").click(function () {
                swal({
                    title: "Cảnh báo",
                    text: "Bạn có chắc chắn là muốn xóa sản phẩm này?",
                    buttons: ["Hủy bỏ", "Đồng ý"],
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Đã xóa thành công.!", {

                            });
                        }
                    });
            });
        });
        oTable = $('#sampleTable').dataTable();
        $('#all').click(function (e) {
            $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
            e.stopImmediatePropagation();
        });
    </script>
</body>

</html>